# Name: Morphology Plugins for ImageJ
# Author: Adam DeConinck
# Version: 0.1

Plugins>Morphology, "New Structuring Element", New_Structuring_Element
Plugins>Morphology, "Erode with structure", Erode_
Plugins>Morphology, "Dilate with structure", Dilate_
Plugins>Morphology, "Open (Erode then Dilate)", Morph_Open
Plugins>Morphology, "Close (Dilate then Erode)", Morph_Close
Plugins>Morphology, "Morphological Gradient", Morphological_Gradient
Plugins>Morphology, "Top-hat transform", Top_Hat
Plugins>Morphology, "Hit-or-miss transform", Hit_Or_Miss
Plugins>Morphology>Misc, "Otsu Threshold", Otsu_Threshold
